@font-face {
    font-family: FiraSans;
    src: url('../fonts/firasans-book.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: FiraSansLight;
    src: url('../fonts/firasans-light.woff');
    font-style: normal;
    font-weight: normal;
}

html, body {
	min-width: 960px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url('../img/comppattern2.png');
	font-family: FiraSans;
}

header {
	background-color: #eff3f7;
	height: 116px;
	margin-left: auto;
	margin-right: auto;
}
/* Logo vertical align */
.header-content img {
	vertical-align: middle;
}
.share {
	float: right;
}
.social {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    	-moz-border-radius: 23px;
    	-webkit-border-radius: 23px;
    vertical-align: middle;
    margin-right: 16px;
    background: #58697a;
    background-image: url('../img/social-buttons.png');
    background-repeat: no-repeat;
}

.social-vk {
	margin-left: 20px;
	background-position: 0px 0px;
}
.social-vk:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: 0px 0px;
}

.social-tw {
	background-position: -73px 0px;
}

.social-tw:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -73px 0px;
}

.social-fb {
	background-position: -143px 0px;
}

.social-fb:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -143px 0px;
}

.social-gh {
	background-position: -214px 0px;
	margin-right: 0px;
	text-align: left;
}

.social-gh:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -214px 0px;
}