doctype html
html(lang="Ru-ru")
    head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(meta name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=" ")
    meta(name="keywords" content=" ")
    meta(name="author" content="N ")

    title

    // Bower CSS
    link(rel="stylesheet" href="bower/normalize-css/normalize.css")

    // Dev CSS
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/content.css")

    // Fonts & favicon
    link(rel="stylesheet" href="fonts/fira/fira.css")
    link(rel="icon" type="image/png" href="img/favicon.png")

    // build:js js/modernizr.min.js
    script(type="text/javascript" src="bower/modernizr/modernizr.js")
    // endbuild

    body
        .wrapper
            .maincontent
                header.header

        script(type="text/javascript" src="bower/jquery/jquery.min.js")
