extends ../main

block Title
    |Adaptive Grid Example

block content-area
    .container
        .row
            .cols.col-4 контент в 4 столбца сетки
            .cols.col-4 контент в 4 столбца сетки
            .cols.col-4 контент в 4 столбца сетки
        .row
            .cols.col-2 2 столбца сетки
            .cols.col-10 контент в 10 столбцов сетки
